<h2>{{title}}</h2>
<div>
    <button mat-raised-button color="primary" class="btn-add" (click)="openProductDialog('Add')">Add Product</button>
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let product">{{product.name}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let product">{{product.description}}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let product">{{product.price}}</td>
        </ng-container>

        <!-- Availability Stock Column -->
        <ng-container matColumnDef="availableStock">
            <th mat-header-cell *matHeaderCellDef>Availability Stock</th>
            <td mat-cell *matCellDef="let product">{{product.availableStock}}</td>
        </ng-container>

        <!-- Availability Stock Column -->
        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let product">{{product.categoryName}}</td>
        </ng-container>

        <!-- Edit and Delete Columns -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let product">
                <button mat-icon-button color="primary" (click)="openProductDialog('Edit', product)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDeleteConfirmationDialog(product)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>