table {
    border-collapse: collapse;
    width: 100%;
    /* Ensure the table takes up the full width of its container */
    margin-bottom: 20px;
    /* Add some space below the table */
}

.btn-add {
    margin-bottom: 10px;
    float: right;
}