<div *ngIf="!loginDisplay">
  <p class="welcome">ANN Traders Product Catalog</p>
</div>

<div *ngIf="loginDisplay">
  <mat-form-field style="width: 150px; margin-right: 10px;">
    <mat-label>Select a category</mat-label>
    <mat-select [(value)]="selectedCategory">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="search-container">
    <input matInput type="text" placeholder="Search by name or description" [(ngModel)]="searchQuery">
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="24"></mat-progress-spinner>
  <div *ngIf="products.length === 0">
    <p>No records found.</p>
  </div>
  <div *ngIf="products.length > 0">
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img src="{{product.imageUrl}}" alt="Product Image" width="100" height="100">
        <div class="product-details">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">{{ product.price | currency }}</p>
          <p class="product-stock">Available Stock: {{ product.availableStock }}</p>
          <!-- Additional product details if needed -->
        </div>
      </div>
    </div>
  </div>
</div>